// loading.scss
.Loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 245, 247, 0.8);
  z-index: 999;
}

.Loading-fadeout {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.Loading-Circle {
  height: 96px;
  width: 96px;
  border-radius: 64px;
  background-color: #fcd116;
  overflow: hidden;
}

.Loading-Circle img {
  width: 100%;
  height: 100%;
}

.Loading-Message {
  margin-top: 24px;
  font-size: 14px;
}
