.App {
  position: relative;
  display: flex;
  align-items: stretch;
  text-align: center;
  height: 100vh;
}

.More-Buttons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
}

.Discord-Button {
  background-color: transparent;
  color: #7289da;
  border: none;
  font-size: 24px;
  padding: 4px;
  margin-right: 8px;
}

.About-Button {
  background-color: transparent;
  color: #2c2f33;
  border: none;
  font-size: 24px;
  padding: 4px;
}

.Token {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Token-Left {
  background-color: #6a6a6a;
}

.Token-Right {
  background-color: #f7f7f7;
}

.Card-Header {
  padding: 12px 56px;
  border-bottom: 1px solid #788E99;
}

.Card-Body {
  position: relative;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
}

.Card-Background {
  position: absolute;
  top: 28px;
  right: 56px;
  width: 30%;
  opacity: 0.5;
}

.Token-Select {
  font-size: 16px;
  font-weight: 600;
}

.Token-Balance {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 64px;
}

.Token-Balance img {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.Token-Name {
  margin-top: 12px;
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.Card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px - 102px);
  max-width: 350px;
  background-color: #ffffff;
  margin: 56px 32px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
}

.Token-Left .Card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Token-Right .Card {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Mint-Button {
  background-color: #202541;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 12px 32px;
}

.Send-Button {
  background-color: #6a6a6a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 12px 32px;
}

.Swap-Button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 96px;
  width: 96px;
  border: 1px solid #ffffff;
  border-radius: 64px;
  padding: 8px;
  text-align: center;
  line-height: 20px;
  background-color: #202541;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
}

.Swap-Arrows {
  font-size: 16px;
}

.Swap-Arrows i {
  margin-right: 2px;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F4F5F7;
  font-size: 12px;
  padding: 12px 0;
  margin: 0;
}

.Heart-Icon {
  color: red;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}

button {
  outline: none;
}
