.App {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.More-Buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 900;
}

.More-Buttons a {
  background-color: #ffffff;
  border-radius: 10px;
  color: #7D17EA;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 28px;
  margin: 0 12px;
  box-shadow: 0px 0px 12px rgba(95, 111, 119, 0.5);
  text-decoration: none;
}

.Github-Icon {
  font-size: 120%;
  color: #000000;
  margin-right: 5px;
  vertical-align: middle;
}

.Discord-Icon {
  font-size: 120%;
  color: #7289da;
  margin-right: 5px;
  vertical-align: middle;
}

.About-Icon {
  color: #000000;
  margin-right: 5px;
  vertical-align: middle;
}

.Main-Content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Token {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.Card-Header {
  background-color: #DEEBFF;
}

.Card-Body {
  position: relative;
  padding-top: 24px;
  padding-bottom: 36px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Card-Token-Content {
  display: flex;
  align-items: stretch;
  margin-bottom: 28px;
}

.Card-Image {
  width: 40%;
  flex: 1;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
}

.Token-Select {
  padding: 12px 0px;
  font-size: 16px;
  font-weight: 600;
}

.Dropdown-Indicator {
  width: 18px;
}

.Dropdown-Indicator-Open {
  transform: rotate(180deg);
}

.Token-Balance {
  flex: 1;
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  font-weight: 600;
  margin-right: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.Token-Balance-Numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Token-Balance-Current {
  white-space: nowrap;
  margin: 0;
}
.Token-Balance-Change {
  font-size: 12px;
  color: #7D17EA;
  margin: 0;
}

.Token-Balance img {
  height: 24px;
  width: 24px;
  margin-top: 6px;
  margin-right: 12px;
}

.Token-Name {
  margin-top: 12px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.Card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px - 102px);
  max-width: 350px;
  background-color: #ffffff;
  margin: 56px 32px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
}

.Token-Left .Card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Token-Right .Card {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Tweet-Body {
  padding: 24px 56px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Instructions {
  font-size: 14px;
  margin: 0 0 12px 0;
}

.Identifier {
  font-size: 12px;
  word-break: break-word;
  color: #788E99;
  margin: 0 0 12px 0;
}

.Action {
  color: #7D17EA;
  font-size: 18px;
  margin-bottom: 12px;
}

.URL-Input {
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  background: #F4F5F7;
  border-bottom: 1px solid #202E66;
}

.Cancel {
  word-break: break-word;
  cursor: pointer;
  margin: 12px 0 0 0;
  text-align: center;
}

.Mint-Button {
  background-color: #7D17EA;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 12px 32px;
}

.Mint-Button:disabled, .Send-Button:disabled {
  background: #B8C4D5;
  cursor: not-allowed;
}
.Minting-Button:disabled, .Sending-Button:disabled {
  cursor: not-allowed;
}

.Minting-Button, .Sending-Button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 12px 32px;
  background-color: #FCA311;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Minting-Button img, .Sending-Button img {
  height: 18px;
  margin: 0 4px;
}

.Ellipsis-Gif {
  height: 12px;
  margin-left: 2px;
  align-self: flex-end;
}

.Mint-Success {
  background-color: #FCA311;
}
.Mint-Success:disabled {
  background-color: #FCA311;
}

.Mint-Success i {
  margin-right: 8px;
  font-size: 14px;
}

.Send-Button {
  background-color: #7D17EA;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 12px 32px;
}

.Send-Success {
  background-color: #FCA311;
}
.Send-Success:disabled {
  background-color: #FCA311;
}

.Send-Success i {
  margin-right: 8px;
  font-size: 14px;
}

.Send-Transaction-URL {
  color: gray;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.Middle-Button-Container {
  width: 0;
  overflow: visible;
  z-index: 1;
  position: relative;
}

.Swap-Button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 112px;
  border-radius: 64px;
  padding: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  background-color: #7D17EA;
  color: #ffffff;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
  box-shadow: 0px 0px 30px rgba(95, 111, 119, 0.5);
}

.Swap-Button:disabled {
  cursor: not-allowed;
  background-color: #B8C4D5;
}

.Swap-Button img {
  height: 30px;
}

.Transferring-Circle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 112px;
  width: 112px;
  border-radius: 64px;
  background-color: #FCD116;
  overflow: hidden;
}

.Transferring-Circle img {
  width: 100%;
  height: 100%;
}

.Flip-Image img {
  transform: scaleX(-1);
}

.Transfer-Success {
  background-color: #FCD116;
  color: #2602AB;
}
.Transfer-Success:disabled {
  background-color: #FCD116;
}

.Transfer-Error {
  background-color: #b41f1f;
}
.Transfer-Error:disabled {
  background-color: #b41f1f;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DEEBFF;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 0;
  margin: 0;
  cursor: pointer;
  text-align: center;
}

.Heart-Icon {
  color: #7D17EA;
}

@media screen and (max-width: 768px) {
  .More-Buttons {
    justify-content: center;
  }
  .More-Buttons a {
    padding: 8px 20px;
    text-align: center;
  }
  .More-Buttons a i {
    font-size: 200%;
    padding: 10px;
    margin: 0;
  }
  .Main-Content {
    flex-direction: column;
  }
  .Token-Left {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .Token-Right {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .Card {
    width: calc(100% - 48px - 102px);
    min-width: 200px;
    margin: 24px;
  }
  .Card-Image {
    display: none;
  }
  .Card-Body {
    padding: 24px 28px;
  }
  .Card-Token-Content {
    margin-bottom: 24px;
  }
  .Token-Balance {
    margin: 0;
  }
  .Middle-Button-Container {
    width: auto;
    height: 0;
  }
  .Swap-Button {
    width: 96px;
    height: 96px;
    font-size: 14px;
    top: 0;
    left: 50%;
  }
  .Transferring-Circle {
    width: 96px;
    height: 96px;
    top: 0;
    left: 50%;
  }
  .Footer {
    font-size: 12px;
    padding: 8px;
  }
}

button {
  outline: none;
}

@keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-moz-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-webkit-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-ms-keyframes fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 