@tailwind base;
@tailwind components;
@tailwind utilities;

@import "app.scss";
@import "loading.scss";

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url("/fonts/Proxima\ Nova\ Regular.otf") format('opentype');
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}